@page
@using mini_big_mammas_pizzaria.Model;
@model DrinksMenuModel;

@{
    ViewData["Title"] = "Drikkevarer";
}

<h1 class="jumbotron">Drinks</h1>

<table class="table-hover">
    <thead>
        <tr>
            <th>Navn</th>
            <th>pris</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Drinks b in Model.DrinksMenukort)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Price</td>

            </tr>
        }
    </tbody>
</table>
<p>That was it</p>