@page
@using mini_big_mammas_pizzaria.Model;
@model mini_big_mammas_pizzaria.Pages.Menukort.IndexModel
@{
    ViewData["Title"] = "Big Mamma Pizzaria";
}

<h1 class="jumbotron">Welcome to Big Mamma Pizzaria!</h1>
