@page
@using mini_big_mammas_pizzaria.Model;
@model mini_big_mammas_pizzaria.Pages.Menukort.PizzaMenuModel
@{
    ViewData["Title"] = "Pizza Menu";
}

<h1 class="jumbotron">Pizza Menu</h1>

<table class="table-hover">
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Navn</th>
            <th>Beskivelse</th>
            <th>pris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pizza p in Model.PizzaMenukort)
        {
            <tr>
                <td>@p.Number</td>
                <td>@p.Name</td>
                <td>@p.Toppings</td>
                <td>@p.Price</td>
                

            </tr>
        }
    </tbody>
</table>

<p>That was it</p>
